spring:
  application:
    name: backend

  datasource:
    url: jdbc:h2:file:./data/niagara_auth_db;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081
  address: 0.0.0.0
